@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@using TravailPratique1.Models
@model List<Product>
<!--Barre de filtres-->
<div>
    <div style="position:fixed;
     height:100%;
     width:300px;
     background-color:deepskyblue;
     left:0;
     padding:10px">
        <h2 class="text-center text-light">Filtres</h2>
        <br />
        <form method="get" action="/Home/FiltreCatalogue">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="prixMinimum" name="prixMinimum" step="0.01" placeholder="0">
                <label for="prixMinimum">Prix minimum ($)</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="prixMaximum" name="prixMaximum" step="0.01" placeholder="0">
                <label for="prixMaximum">Prix maximum ($)</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="categorie" name="categorie" placeholder="0">
                <label for="categorie">Catégorie</label>
            </div>
            <button class="btn btn-primary" type="submit">Appliquer</button>
        </form>
    </div>

    <div class="container overflow-hidden" style="padding-left:300px;">
        <h1 class="text-center">Catalogue</h1>
        <br />
        <form method="get">
            <div class="input-group mb-3" style="width: 400px">
                <input class="form-control" type="text" placeholder="Rechercher...">
                <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
        <div class="row gy-5">
            @foreach (var product in Model)
            {
                <div class="col-4">
                    <div class="card px-1 py-3">
                        <a href="/Product/Details/@product.productId"><img style="width:90%; height:90%; display:block; margin:auto;" class="card-img-top rounded-3" src="~/Images/chat.png" /></a>
                        <br />
                        <div class="card-body" style="padding-top:0px">
                            <div class="container">
                                <div class="row gx-1">
                                    <div class="col-7">
                                        <h5 class="card-title">@product.title</h5>
                                        <p class="card-text">@product.category</p>
                                        <p class="card-text" style="font-weight:bold; font-size:150%">@product.price $</p>
                                    </div>
                                    <div class="col-5 text-center">
                                        <button type="button" style="margin-bottom:10px;" onclick="location.href='/Product/Details/@product.productId'" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Détails</button>
                                        <button class="btn btn-success"><i class="fa-solid fa-cart-shopping"></i> Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>