@*
    Comment Section
*@



@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-md-center  p-3">
            <h1>Erreur 404</h1>
        </div>
    </div>
    <div class="row alert-danger">
        <div class="col-md-6 mx-auto text-md-center  p-3">
        <p>La page demandée n'existe pas.</p>
    </div>
</div>

