@*
    Comment Section
*@



@{
    Layout = "_Layout";
}
@using TravailPratique1.Models
@model List<ClientProduit>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center p-3">
            <h1>Panier</h1>
            <Table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Prix total</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Chandail rouge</th>
                        <td>1</td>
                        <td>20$</td>
                        <td>20$</td>
                    </tr>
                </tbody>
            </Table>
            <button class="btn btn-success">Passer au paiement</button>
        </div>
    </div>
</div>

