@*
    Comment Section
*@



@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center  p-3">
            <h1>Panier</h1>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        Produits
                    </div>
                    <div class="col-4">
                        Prix
                    </div>
                </div>
            </div>
            <button class="btn btn-success">Passer au paiement</button>
        </div>
    </div>
</div>

