@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2>Paiement avec Stripe</h2>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Un problème est survenu lors de la transaction !
            </div>
        </div>
    </div>
</div>