@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2>Paiement avec Stripe</h2>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success" role="alert">
                La transaction s'est effectuée avec succès !
            </div>
        </div>
    </div>
</div>
