@*
    Page de détails sur le produit (avec le bouton d'ajout au panier pour les clients)
*@
@{
    Layout = "_Layout";
}
@using TravailPratique1.Models
@model Product
<h1 style="text-align:left">Détails du produit:@Model.title</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="rounded-4" src=@Model.imageUrl />
        </div>
        <div class="col-6">
            <ul>
                <li>Vendu par: @Model.vendeur</li>
                <li>Catégorie: @Model.category</li>
                <li>Prix: @Model.price $</li>
            </ul>
            <p class="fw-medium">@Model.description</p>
        </div>
    </div>
</div>