@*
    Comment Section
*@



@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center  p-3">
            <h1>Authentification</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto text-start">
            <div class="card p-4 shadow-lg">

            
            <form method="post" action="/Home/Authentification">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur">
                    <label for="username">Nom d'utilisateur</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                    <label for="password">Mot de passe</label>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input class="form-check-input" type="radio" name="UserType" id="client" value="client" checked>
                        <label class="form-check-label" for="client">Client</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-check-input" type="radio" name="UserType" id="vendeur" value="vendeur">
                        <label class="form-check-label" for="vendeur">Vendeur</label>
                    </div>
                </div>

                <div class="row" >
                    <div class="col d-flex justify-content-center" style="padding-top: 20px">
                        <button class="btn btn-primary" type="submit">Connexion</button>
                    </div>
                </div>
                
                </div>
            </form>
            </div>
        </div>
</div>

