@*
    Comment Section
*@



@{
    Layout = "_Layout";
}
@using TravailPratique1.Models
@model List<ClientProduit>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center p-3">
            <h1>Panier</h1>
            <h2>ViewBag.AucunItem</h2>
            <Table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Prix total</th>
                        <th scope="col"></th> <!--Ajouter 1 de plus-->
                        <th scope="col"></th> <!--Enlever du panier-->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cp in Model)
                    {
                        <tr>
                            <th scope="row">@cp.product.title</th>
                            <td>@cp.quantité</td>
                            <td>@cp.product.price $</td>
                            <td>@((cp.quantité * cp.product.price)+"$")</td>
                            <td><button class="btn btn-primary" onclick="location.href='/Panier/AjouteruAuPanier?ProductId=@cp.product.productId&quantity=1'">Ajouter 1 de plus</button></td>
                            <td><button class="btn btn-danger" onclick="location.href='/Panier/EnleverDuPanier/@cp.product.productId'">Enlever du panier</button></td>
                        </tr>
                    }
                </tbody>
            </Table>
            <button class="btn btn-success">Passer au paiement</button>
        </div>
    </div>
</div>

